@import "tailwindcss";

@theme inline {
  --color-brand-cyan: #40F0FF;
  --color-brand-green: #00D09C;
  --color-brand-orange: #FF9F1C;
  --color-brand-black: #09090b;
  /* Desidian */
  --color-brand-dark: #121214;
  /* Tungsten */

  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains);

  --animate-shimmer: shimmer 2s infinite linear;
  --animate-float: float 6s ease-in-out infinite;

  @keyframes shimmer {
    from {
      background-position: 0 0;
    }

    to {
      background-position: -200% 0;
    }
  }

  @keyframes float {
    0% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(-10px);
    }

    100% {
      transform: translateY(0px);
    }
  }
}

:root {
  --background: #09090b;
  /* Zinc-950 */
  --foreground: #ededed;

  .animate-pulse-slow {
    animation: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-image:
    linear-gradient(to right, #18181b 1px, transparent 1px),
    linear-gradient(to bottom, #18181b 1px, transparent 1px);
  background-size: 4rem 4rem;
  background-position: center top;
}

/* Subtle Vignette */
body::after {
  content: '';
  position: fixed;
  inset: 0;
  background: radial-gradient(circle at center, transparent 0%, #09090b 100%);
  pointer-events: none;
  z-index: -1;
}

@layer utilities {
  .text-glow {
    text-shadow: 0 0 20px currentColor;
  }
}